<body>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header"
          style="background-image: linear-gradient(
                                      rgba(0, 0, 0, 0.45), 
                                      rgba(0, 0, 0, 0.45)
                                    ),
                 url('https://download.unsplash.com/photo-1428954376791-d9ae785dfb2d')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1><br>About Me</h1>
            <hr class="small">
            <span class="subheading">The Junior Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <br>
        <img src='https://scontent-kul1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/p480x480/10295686_10202105973226963_96821522886470599_n.jpg?oh=d8966aeba369ba0cc712ea4f3235a34f&oe=56217833' class="img-circle" alt="Profile picture" width="304" height="236">
      </div>

      <div class="col-lg-6 col-md-6 pull-right">
        <div class="resume2">
          <h1 class="post-title">
            About <small>Me</small>
          </h1>
          <hr>
            <p>My name is Wan Ahmad Faris.</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in placerat ex. Sed felis turpis, iaculis non pharetra in, dictum id nunc. Vestibulum consectetur lectus a viverra viverra. Phasellus tincidunt pretium erat, ultricies aliquet nisl varius vitae. Nulla nisi arcu, rutrum at viverra at, ornare aliquet dui. Mauris efficitur convallis sapien vitae fringilla. Quisque augue lorem, vehicula in congue eu, porta non est. In vel pharetra mauris. Vivamus dapibus euismod porta. Nullam tristique urna ipsum, eget sagittis quam auctor id. Cras nec velit non metus pharetra lacinia id eget ipsum. Praesent elementum libero id sem mattis interdum. Morbi pellentesque metus sed dui pellentesque, vel mollis lacus gravida.</p>

            <p>Phasellus commodo nibh felis, sit amet molestie nisi faucibus vel. Sed ut turpis at velit luctus aliquam. Morbi nunc purus, accumsan ac tincidunt ac, semper ac orci. Ut lacinia sem tellus, nec pharetra dolor blandit et. Maecenas at porttitor velit, sit amet efficitur nibh. Ut sit amet interdum dui. Curabitur efficitur convallis turpis, eu tristique mauris pulvinar et. In mauris augue, sollicitudin ac tortor suscipit, elementum molestie dui. Proin vitae augue eleifend, sagittis metus nec, dictum ante. Fusce sollicitudin est sed auctor semper</p>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <hr>

</body>

</html>