<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome</title>
</head>

<body>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" 
  				style="background-image: linear-gradient(
											                rgba(0, 0, 0, 0.45), 
											                rgba(0, 0, 0, 0.45)
											              ), 
									url('https://download.unsplash.com/photo-1421757295538-9c80958e75b0')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Warm Welcome Bloggers</h1>
            <hr class="small">
            <span class="subheading">Share your thought here</span>
            <a class="btn btn-success btn-xs" href="<%= new_user_registration_path %>" role="button">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</body>

</html>